{% extends "base.html" %}

{% block content %}
    <main class="container" role="main">
        <div class="row">
            {% for treasure in treasures %}
            <div class="col-md-4">
                <div class="treasure panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a href="/{{treasure.id}}/">{{ treasure.name }}</a></h2>
                            <a href="/user/{{treasure.user.username}}">
                                by: {{ treasure.user.username }}
                            </a>
                        </div>

                    <div class="treasure-photo">
                        <img src="{{ treasure.img_url }}" alt="" height="100">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add Treasure</h3>
                </div>
                <div class="panel-body">
                    <form action="post_url/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Add treasure</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}